// Font Sizes Declaration

$poster-size: rem(96);
$large-h1-size: rem(72);
$section-title-size : rem(48);
$h1-size: rem(56);
$h2-size: rem(36);
$h3-size: rem(30);
$h4-size: rem(24);
$h5-size: rem(20);
$h6-size: rem(18);
$base-size: rem(16);
$small-size: rem(14);
$mini-size: rem(12);